{{#if comments}}<h3>Kommentare</h3>{{/if}}
<ul class="comments">

  {{#each comments as |comment|}}
  {{#if comment.text}}
  <hr class="border">
    <li>{{comment.text}}</li>
  {{/if}}
  {{/each}}
</ul>

{{yield}}
