

<div class="element">
  <h2 class="marginless">Umfragen</h2>
</div>


  {{#if-admin status="trusted moderator"}}
    <div class="element">
      {{#link-to 'poll-creator'}}
        <a class="action">
          <i class="plus icon"></i>
        </a>
      {{/link-to}}
    </div>
  {{/if-admin}}
<div class="element">
  {{input type="text" class="search marginless" value=query placeholder="suchen"}}
</div>
<ul>
{{#each sortedPolls as |poll|}}
{{single-poll poll=poll vote="voteForOption" administratable=administratable blur="blur"}}

{{/each}}

{{yield}}
</ul>
