
{{#if-moderator}}
{{#link-to 'poll-creator'}}Umfrage erstellen{{/link-to}}

{{/if-moderator}}
<h2>Umfragen</h2>
<ul>
{{#each sortedPolls as |poll|}}
{{single-poll poll=poll vote="voteForOption" administratable=administratable blur="blur"}}

{{/each}}

{{yield}}
</ul>
