
{{#if administratable}}
{{#link-to 'poll-creator'}}Umfrage erstellen{{/link-to}}

{{/if}}
<h2>Umfragen</h2>
<ul>
{{#each sortedPolls as |poll|}}
{{single-poll poll=poll vote="voteForOption" administratable=administratable blur="blur"}}

{{/each}}
</ul>

{{yield}}
