
<div class="user form">
{{input action="create" type="name" value=name placeholder="Name"}}
{{input action="create" type="number" value=age placeholder="Age"}}

<button type="button" name="button" {{action "create" }}>Senden</button>
</div>
{{yield}}
