
.course-name-search{

}@import "power-select-variables.scss";
@import "ember-power-select";

.ember-power-select-search input{
  background-color: #2ce05c
}
.ember-power-select-option[aria-current="true"] {
    background-color: #b1a60e;
    color: #ffffff;
}
.ember-power-select-option[aria-selected="true"] {
    background-color: #b6f29c;
}
.ember-power-select-options[role="listbox"]{
  height: 25vh;
  max-height: 300px;
}





@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


body {
  font-family: "Roboto","FontAwesome", "Effra",sans-serif;
  font-size: 20px;

  /*background-color:#faf4f1;*/

  color: #383838;
  background-repeat: repeat;


  background: #76b852; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #76b852, #8DC26F);
background: -moz-linear-gradient(right, #76b852, #8DC26F);
background: -o-linear-gradient(right, #76b852, #8DC26F);
background: linear-gradient(to left, #76b852, #8DC26F);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin: 1px;
}
.header {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  float: left;
  width: 100%;
  color: white;
  box-sizing: border-box;
  background-color: #5e9540;

}
.header div{
  display: inline-block;
}

.navbar{
  float: left;
}
.navbar a{
  display: inline-block;
  float: left;
  margin: 10px 2vw;
}
.navbar a.active{
  border-bottom: 3px solid #fccc8c;
  border-radius: 3px;
}
.login a.active{

  border-bottom: 3px solid #fccc8c;
  border-radius: 3px;
}
.login{
  display: inline-block;
  margin: 10px ;
  float: right;
  cursor: pointer;
}
.login a{
  margin: 10px 20px 10px 20px;
}


div.users{
text-align: center;
padding: 10px;
max-width: 500px;
margin: auto;
}
.split{
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  vertical-align:top;
  box-sizing: border-box;

}
div.user{
text-align: center;
color: inherit;
padding: 50px;
box-sizing: border-box;
margin: auto;
width: 100%;
}
.top{
  margin: 0 auto auto auto;
}
ul {
  padding: 0;
  list-style: none;
}
ul.comments{
  padding: 5px 0 5px 0;
  margin: 0;

}
ul.users{
  margin: 0;
  padding: 2px 0 2px 0;
  width: 100%;
}
ul.users li{
box-sizing: border-box;
margin: 2px 0 2px 0;


}
ul.users a{
  vertical-align:top;
  display: inline-block;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
ul.users a.active{
background-color: rgb(106, 171, 77);


}
li{
  display: block;
  margin: 5px 0 0 0;
}
.comments li{
  margin: 5px 0 0 0;
  display: block;
  width: auto;


}
.course ul{
  margin: 10px 0 0 0 ;
  float: left;
  width: 100%;
  min-width: 200px;
  display: inline-block;
}
.course .anecdotes{
  width: 60%;
}
.course .students{
  width: 40%;
}


a{
  text-decoration: none;
  color: inherit;
  }


div.form{
  width: 100%;
  float: none;
  display: block;
  margin: 5px;
}
.quotes{
  text-align: center;
}
.quoted{
text-align: left;
margin: 10px 0 10px 20px;
}
.quote-listing{

width: 100%;
}
.quote-text{
  margin: 10px;
  padding: 5px;
}
.maincontent{
  width: 100%;
  float: left;
  margin: 30px 0 0 0;
  box-sizing: border-box;

}
.form {
width: 100%;
max-width: 360px;
margin: 10px auto;


}
.form input{
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #158f1a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;

  cursor: pointer;
  transition: all 400ms;
}
.form button:hover{
   background: #08740d;
}
.form button.disabled{
background: #e24c4c;

}
.min-width{
  width: auto !important;
}


.border{
  border-color: #dee8d8;
  border-style: solid;
}
button{
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  margin: 0 auto 30px auto;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
.button:hover{
    background: #36993a;
}
.delete{
  background-image: url("delete_icon.png");
  float: right;
}
.option-delete{
  background-image: url("delete_icon.png");
  float: right;
}
.plus{
  background-image: url("plus.png");

}
.minus{
  background-image: url("minus.png");

}
.eye{
  background-image: url("eye.png");
}
.moretop{
  margin-top: 20px;
}
.delete.quote{
  margin: 0 10px 10px 0;
}

.icon{
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
  background-repeat: no-repeat;
}
.action{
  cursor: pointer;
}


.poll{
  text-align: center;
  width: 100%;
  float: left;
  box-sizing: border-box;
  }
.poll-option{
  display: inline-block;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  transition: all 400ms;
}
.poll-option-container{
  display: inline-block;
}
.poll-option:hover{
  background-color: #5e9540;
}
.poll-options a{
  cursor: pointer;
}
.poll-container{
  text-align: center;
}
svg{
  /*background-color:#a1b4a2;*/
  border-radius: 10px;
}
svg g rect {
  fill:steelblue;

}
svg g rect:hover{
  fill:red;
}
 svg path{
   stroke:black;
   transition: fill 400ms ,stroke-width 400ms;

  }

 svg path:hover{
   fill:white;
  stroke-width:5px;
  stroke-alignment:inner;
 }
.tooltip{
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 18px sans-serif;
  background-color: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.ember-modal-dialog{

  padding: 1em;
  background-color: #778CBB;
  border-radius: 5px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;

}
.ember-modal-dialog button{
  position: relative;
  text-transform: uppercase;
  outline: 0;
  /*background: #158f1a;*/
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.positive{
  background: #158f1a ;
  transition: all 2s;
}
.positive:hover{
  background-color: #229d26 ;

}
.negative{
  background-color:red ;
  transition: all 2s;
}
.negative:hover{
  background-color:darkred ;

}
.blur-background {
  z-index: -999;
  opacity: 0.3;
  pointer-events: none;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.responsive-container{

	display: inline-block;
  max-width: 500px;
	width: 70%;


	vertical-align: middle;
	overflow: hidden;

}
.responsive-svg {
	display: inline-block;

	top: 0;
	left: 0;
}
.course-name-search{

}
.course-teacher-search{
  font-weight: 100;
  text-align: right;
  color: #8e8b8b
}
.active.action .icon{
  border: 3px solid rgba(#5a82d0,.76);

}
.active.action{
  padding: 2px;
}
