@import "power-select-variables.scss";
@import "ember-power-select";

// .ember-power-select-search input{
// //  background-color: #2ce05c
// }
// .ember-power-select-option[aria-current="true"] {
//     // background-color: #b1a60e;
//     // color: #ffffff;
// }
// .ember-power-select-option[aria-selected="true"] {
//     background-color: #b6f29c;
// }
.ember-power-select-options[role="listbox"]{
  height: 25vh;
  max-height: 300px;
}




$primary-color:#bbb;
$secondary-color:#b0a4a4;
$tertiary-color:#ddd;
//$quartenary-color:#767772;
$quartenary-color:#b4cbde;
$primary-header-color: #2980b9;
$secondary-header-color: #3498db;

$primary-font-color:#2a2929;
$primary-header-font-color:white;
$weak-font-color:#a4a0a0;

$primary-border-color:$primary-color;

$primary-shadow-color:#333232;
$secondary-shadow-color:#5a82d0;
$active-link-border-color:#f2e9dc;

$primary-button-color:#020294;
$primary-button-hover-color:#02025d;
$disabled-button-color:#e24c4c;

$primary-button-font:white;
$primary-input-color:#f2f2f2;

$positive-color:$secondary-header-color;
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


body {
  font-family: "Roboto", "FontAwesome", "Effra", sans-serif;
  font-size: 20px;

  /*background-color:#faf4f1;*/

  color: $primary-font-color;
  background-repeat: repeat;


background: $primary-color; /* fallback for old browsers */
background: -webkit-linear-gradient(right, $primary-color,$secondary-color );
background: -moz-linear-gradient(right, $primary-color,$secondary-color);
background: -o-linear-gradient(right,$primary-color,$secondary-color);
background: linear-gradient(to left, $primary-color,$secondary-color);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin: 0px;
min-width: 480px;
}

a{
  text-decoration: none;
  color: inherit;
  }
.maincontent{
  width: 100%;
  float: left;
  margin:0;
  box-sizing: border-box;
  height: 100%;
  min-height: calc(100vh - 55px);
}

@import "index.scss";

@import "form-items.scss";
@import "general.scss";
@import "modal-dialog.scss";
@import "charts.scss";
@import "icons.scss";
@import "headers.scss";

@import "login.scss";
@import "footer.scss";
@import "users.scss";
@import "quotes.scss";
@import "polls.scss";
@import "courses.scss";
@import "facts.scss";
@import "mottos.scss";
@import "stats.scss";
@import "loading.scss";
@import "transactions.scss";
@import "prom.scss";
