body {
  font-family: "Roboto","FontAwesome", "Effra",sans-serif;
  font-size: 20px;

  /*background-color:#faf4f1;*/

  color: #383838;
  background-repeat: repeat;


  background: #76b852; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #76b852, #8DC26F);
background: -moz-linear-gradient(right, #76b852, #8DC26F);
background: -o-linear-gradient(right, #76b852, #8DC26F);
background: linear-gradient(to left, #76b852, #8DC26F);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.header {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  float: left;
  width: 100%;
  color: white;
  box-sizing: border-box;

  background-color: #5e9540;

}
.navbar{
  float: left;
  margin: 10px 10px 10px 50px;
}
.navbar a{
  display: inline-block;
  float: left;
  margin: 10px 20px 10px 20px;
}
.navbar a.active{
  -webkit-text-stroke: 1px black;
}
.login a.active{
  -webkit-text-stroke: 1  px black;

}
.login{
  display: inline-block;
  margin: 10px ;
  float: right;
  cursor: pointer;
}
.login a{
  margin: 10px 20px 10px 20px;
}


div.users{
text-align: center;
padding: 10px;
width: 30%
}
.split{
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  vertical-align:top;
  box-sizing: border-box;

}
div.user{
text-align: center;
color: inherit;
float: right;
padding: 50px;
box-sizing: border-box;

width: 70%;
min-width: 100px;
}
.top{
  margin: 0 auto auto auto;
}
ul {
  padding: 0;
  list-style: none;
}
ul.comments{
  padding: 5px 0 5px 0;
  margin: 0;

}
ul.users{
  margin: 0;
  padding: 2px 0 2px 0;
  width: 100%;
}
ul.users li{
box-sizing: border-box;
margin: 2px 0 2px 0;


}
ul.users a{
  vertical-align:top;
  display: inline-block;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
ul.users a.active{
background-color: rgb(106, 171, 77);


}
li{
  display: block;
}
.comments li{
  margin: 5px 0 0 0;
  display: block;
  width: auto;


}
a{
  text-decoration: none;
  color: inherit;
  }
a.active{
}
div.form{
  width: 100%;
  float: none;
  display: block;
  margin: 5px;
}
.quotes{
  text-align: center;
}
.quoted{
text-align: left;
margin: 10px 0 10px 0;
}
.quote-listing{

}
.quote{
  margin: 10px;
  padding: 5px;
}
.maincontent{
  width: 100%;
  float: left;
  margin: 30px 0 0 0;
  box-sizing: border-box;

}
.form {
width: 100%;
max-width: 360px;
margin: auto;
background-color:
}
.form input{
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover{
   background: #43A047;
}
.border{
  border-color: #8DC76C;
  border-style: solid;
}
.toggleShowing{
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  margin: 0 0 30px 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
