body {
  font-family:FontAwesome, Effra,sans-serif;
  font-size: 2vw;
  font-weight: bolder;
  background-color:rgb(208,208,208);
  color: white;

}
.login{
  margin: 10px ;
  float: right;
}
.header {
  text-align: center;
  background-color: rgb(60,118,228);
  padding: 1px;
  position: fixed;
  top: -10px;
  left: 0;
  right:0;
}
.header h1{
  margin: 10px;
  clear: both;
  font-size: 2.5vw;
}
div.users{
text-align: center;
}
.split{
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  background-color: white;
  color: black;
  border: 2px solid rgb(208,208,208);
  box-sizing: border-box;
  vertical-align:top;
}
div.user{
text-align: center;
color: black;
float: right;
}
.top{
  margin: 0 auto auto auto;
}
ul {
  padding: 0;
  list-style: none;
}
ul.comments{
  color: black;
  background-color: rgb(208,208,208);
  padding: 5px 0 5px 0;
  margin: 0;

}
ul.users{
  margin: 0;
  padding: 2px 0 2px 0;
  background-color: rgb(208,208,208);

}
ul.users li{
box-sizing: border-box;
margin: 2px 0 2px 0;
font-size: 2vw;
}
ul.users a.active li{
background-color: lightblue;
}
li{
  background-color: white;
  display: block;
}
.comments li{
  margin: 5px 0 0 0;
  display: block;
  width: auto;
  font-size: 2vw;

}
a{
  text-decoration: none;
  /*font-weight: 600;*/
}
div.form{
  width: 100%;
  float: none;
  display: block;
  margin: 5px;
}
.quotes{
  color: blue;
  text-align: center;
}
.quoted{
text-align: left;
color: grey;
margin: 10px 0 10px 0;
}
.quote-listing{

}
.quote{
  margin: 10px;
  padding: 5px;
}
.maincontent{
  margin: 15% 0 0 0 ;
  width: 100%;
  float: left;
}
