.responsive-container{
  position: relative;
	display: inline-block;
  max-width: 500px;
	width: 70%;


	vertical-align: middle;
	overflow: visible;

}
.responsive-svg {
	display: inline-block;

	top: 0;
	left: 0;
}
svg{
  /*background-color:#a1b4a2;*/
  border-radius: 10px;

  path{
    stroke:black;
    transition: fill 400ms ,stroke-width 400ms;

   }
   path:hover{
     fill:white;
    stroke-width:5px;
    stroke-alignment:inner;
   }


}
svg g rect {
  fill:steelblue;
  stroke:black;
}
svg g rect.admin {
  fill:#aec304;
}
svg g rect.moderator {
  fill:#d2d7aa;
}
svg g rect:hover{
  fill:red;
}
 svg path{
   stroke:black;
   transition: fill 400ms ,stroke-width 400ms;

  }

 svg path:hover{
   fill:white;
  stroke-width:5px;
  stroke-alignment:inner;
 }
.tooltip{
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 18px sans-serif;
  background-color: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.time-chart svg{
  background-color:#a1b4a2;

}
.time-chart{
  width: 100%;
  max-width: 1000px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.link{
  stroke:black;
}
