
.course ul{
  margin: 10px 0 0 0 ;
  width: 100%;
  min-width: 200px;
  display: inline-block;
}
.course .anecdotes{
  width: 100%;
}
.course .students{
  width: 100%;
}
.course-name-search{

}
.course-teacher-search{
  font-weight: 100;
  text-align: right;
  color: $weak-font-color;
}

.anecdotes li {
  padding: 6px 0px;
  border-bottom: 1px dotted rgba(38, 38, 38, 0.15);
}

.anecdotes li:last-child {
  border-bottom: none;
}
