button{
  text-transform: uppercase;
  outline: 0;
  background: $primary-button-color;
  border: 0;
  margin: 10px auto;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
input{
  width: 100%;
  outline: 0;
  background: rgba($primary-input-color,.8);
  width: 100%;
  border: 0;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
div.form{
  width: 100%;
  float: none;
  display: block;
  margin: 5px;
}

.form {
width: 100%;
max-width: 360px;
margin: 10px auto;
padding: 10px;
background-color: $quartenary-color;
box-sizing: border-box;
border-radius: 5px;

}
.form input{
  width: 100%;
  outline: 0;
  background: rgba($primary-input-color,.8);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: $primary-button-color;
  width: 100%;
  border: 0;
  padding: 15px;
  color: $primary-button-font;
  font-size: 14px;

  cursor: pointer;
  transition: all 400ms;
}
button:hover{
   background: $primary-button-hover-color;
}
button.disabled{
background: $disabled-button-color;

}





.positive{
  background: #158f1a ;
  transition: all 2s;
}
.positive:hover{
  background-color: #229d26 ;

}
.negative{
  background-color:red ;
  transition: all 2s;
}
.negative:hover{
  background-color:darkred ;

}
