.icon{
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
  background-repeat: no-repeat;
}
.delete{
  background-image: url("delete_icon.png");
  float: right;
}
.delete:hover{
  background-image: url("open_delete_icon.png");
}
.option-delete{
  background-image: url("delete_icon.png");
  float: right;
}
.plus{
  background-image: url("plus.png");

}
.minus{
  background-image: url("minus.png");

}
.eye{
  background-image: url("eye.png");
}
