.icon{
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
  background-repeat: no-repeat;
}
.delete{
  background-image: url("delete_icon.png");
  float: right;
}
.delete:hover{
  background-image: url("open_delete_icon.png");
}
.option-delete{
  background-image: url("delete_icon.png");
  float: right;
}
.plus{
  background-image: url("plus.png");

}
.minus{
  background-image: url("minus.png");

}
.eye{
  background-image: url("eye.png");
}
.nav-icon {
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  margin: 0px 1.2vw;
  border-radius: 4px;
  background-repeat: no-repeat;
  display: none;
}
.users-icon {
  background-image: url("users.png");
}
.quotes-icon {
  background-image: url("quotes.png");
}
.polls-icon {
  background-image: url("polls.png");
}
.courses-icon {
  background-image: url("class.png");
}
.facts-icon {
  background-image: url("facts.png");
}
.stats-icon {
  background-image: url("stats.png");
}
.mottos-icon {
  background-image: url("mottos.png");
}
.logout-icon {
  background-image: url("logout.png");
}


.badge {
  width: 14px;
  height: 14px;
  transform: translateY(-12px);
  transition: 100ms ease-in-out;
  opacity: .75;
  transition: 200ms ease-in-out;
  -webkit-filter: drop-shadow(1px 2px 0px rgba(34, 34, 34, 0.2));
}

.badge:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 2px 0px rgba(52, 152, 219, .85));
}

.admin {
  background-image: url("admin.png");
}

.moderator {
    background-image: url("moderator.png");
}
