html {
  background-color: $primary-color;
}

.background-filler {
  //background-color: yellow;
  height: calc(100vh - 55px);
  margin: 0px;
  display: inline-block;
  width: 100vw;
  position: relative;
  z-index: 3;
}
