.mottos{
  text-align: center;
}
.motto-list{

}
.single-motto{
  padding: 8px;
  border: 1px outset rgba(38, 38, 38, 0.15);
  margin: 10px 0px;
  box-shadow: 0px 4px 6px -4px rgba(38, 38, 38, 0.3);
  p{

  }
}
.motto-votes{
  color:$weak-font-color;
  float: left;
}
.motto-text{

}
.motto-text.upvoted{
  color:$positive-color;
}
.motto-user{
  color:$weak-font-color;

}
.motto-upvote{
  text-align: right;
}
.motto-delete{
  float: none;
}
