.quotes{
  text-align: center;
}
.quoted{
  text-align: left;
  margin: 10px;
  padding-left: 10px;
  border-bottom: 1px dotted rgba(38, 38, 38, 0.3);
}
.quote-listing{

width: 100%;
}
.quote-listing li {
  margin: 15px 0px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-shadow: 0px 4px 6px -4px rgba(38, 38, 38, 0.3);
}
.quote-text{
  margin: 10px;
  padding: 5px;
}
.delete.quote{
  margin: 0 10px 10px 0;
}
