.quotes{
  text-align: center;
  margin: 30px 0 0 0;
}
.quoted{
text-align: left;
margin: 10px 0 10px 20px;
}
.quote-listing{

width: 100%;
}
.quote-text{
  margin: 10px;
  padding: 5px;
}
.delete.quote{
  margin: 0 10px 10px 0;
}
