.force-chart-container{
  width: 50%;
  display: inline-block;
  float: left;

}
.show-node-info{
  width: 50%;
  display: inline-block;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
