.transactions {
  text-align: center;
  .datepicker-inline{
    margin: 0 auto;
  }
  .tooltip .transaction-reason{
    font-size: 12px;
  font-weight: 100;
  }
  svg .axis path:hover {
    fill: none;
    stroke: black;
    stroke-width: 1px;

  }
  .line {
    stroke: steelblue;
    stroke-width: 2px;
  }
  ul{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    li{

    margin: 15px auto;

    .single-transaction{
      position: relative;
      border: 1px solid rgba(38,38,38,.1);
      box-shadow: 0 4px 6px -4px rgba(38,38,38,.3);
    }
    .single-transaction.pos{
      right: -5px;
      box-shadow: 6px 0px 3px -5px green;
    }
    .single-transaction.neg{
      left: -5px;
      box-shadow: 6px 0px 3px -5px red;
    }
    .delete{
      margin: 10px;
    }
    table{
      width: 100%;
      padding: 10px 20px;
      tr{
        padding: 0;
      }
      td{
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        width: 50%;
      }
    }
    .date{
      text-align: left;
      margin: 10px;
    }
    .change{
      text-align: right;
    }
    .change.pay{
      color:red;
    }
    .change.receive{
      color:green;
    }
    .change.neutral{
      color: inherit;
    }
    .balance{
      float: right;
      color: steelblue;
    }
    }
  }
  .dotted-line-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  .dotted-line{
    border: 1px solid lightgrey;
    width: 100%;
    border-radius: 2px;
    margin: 20px auto;
  }
  // .tooltip{
  //   border-radius: 2px;
  //   border: 1px solid lightgrey;
  //   background-color: $tertiary-color;
  //   transition: all 400ms;
  //   .pos{
  //     color: green;
  //   }
  //   .neg{
  //     color:red;
  //   }
  // }
  .marker{
    transition: stroke 400ms;
    stroke:$tertiary-color;
  }
  .marker:hover{
    stroke:black;

  }
  .minor{
  text-align: left;
  margin: 0 0 0 5px;
  font-size: small;
  font-weight: lighter;
  color: #a7a7a7;
  }

}
