div.users{
text-align: center;
padding: 10px;
max-width: 500px;
margin: 0 auto;
}
.split{
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  vertical-align:top;
  box-sizing: border-box;

}
div.user{
text-align: center;
color: inherit;
box-sizing: border-box;
margin: auto;
width: 100%;
}
.top{
  margin: 0 auto auto auto;
}
ul {
  padding: 0;
  list-style: none;
}
ul.comments{
  padding: 5px 0 5px 0;
  margin: 20px 0;

}
ul.users{
  margin: 0;
  padding: 2px 0 2px 0;
  width: 100%;
}
ul.users li{
box-sizing: border-box;
margin: 2px 0 2px 0;


}
ul.users a{
  vertical-align:top;
  display: inline-block;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
ul.users a.active{
background-color: $tertiary-color;


}
li{
  display: block;
  margin: 5px 0 0 0;
}
.comments li{
  margin: 5px 0 0 0;
  display: block;
  width: auto;
}
.users-container{
  float: left;
  width: 100%;
}
.favorites{
  width: 100%;
  a{
    float: none;
    display: inline-block;
  }
}

.user-favorite-star{
  display: inline-block;
  width: 20px;
  height: 20px;

    svg{
      path{
        fill:white;
        fill-opacity:1;
        stroke:none;
        stroke-width:2;
        stroke-miterlimit:4;
        stroke-dasharray:none;
        stroke-opacity:1;
      }
      path.favorited{
        fill: #fff300;
      }
      filter: drop-shadow(0px 4px 1px #f7f7f7);
      -webkit-filter: drop-shadow(0px 1px 1px #a0a0a0);
  }

}
.horizontal-scroll{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 46px;
}
.horizontal-scroll::-webkit-scrollbar {
    height:5px;
    border-radius: 2px;
    // background-color: $tertiary-color;
    border: 0;
    display: none;
}
.horizontal-scroll::-webkit-scrollbar-thumb{
background-color:$tertiary-color;
border-radius:2px;
}
.horizontal-scroll::-webkit-scrollbar-thumb:hover{
background-color:#eee;
//border:1px solid #171717;
}
.horizontal-scroll::-webkit-scrollbar-thumb:active{
background-color:#fff;
//border:1px solid #171717;
}
