<div class="split users">
  <ul class="users">
    {{quote-form create="createCourse" 1stph="Kursbezeichnung" 2ndph="Lehrer" buttonText="Hinzufügen" openText="Kurs hinzufügen" closeText="abbrechen"}}
    {{course-listing courses=model}}
  </ul>

</div>



{{outlet}}
