<div class="second-header">
  <div class="navbar">
      {{#link-to 'anecdotes'}}Alle Anekdoten{{/link-to}}
  </div>

</div>
<div class="users-container">

<div class="users">
  <div class="element">
    {{course-listing courses=model transition="transition" selected=selected}}
  </div>
  <div class="element">
    {{#if-moderator}}
      {{quote-form create="createCourse" 1stph="Kursbezeichnung" 2ndph="Lehrer" buttonText="Hinzufügen" iconShow="plus" iconHide="minus"}}
    {{/if-moderator}}
  </div>
</div>





 {{liquid-outlet}}
</div>
