<div class="facts">
<div class="element">
  <h3 class="marginless">Wusstest du schon ... ?</h3>
</div>
<div class="element">
  {{simple-form placeholder="Fakt" buttonText="Hinzufügen" iconShow="plus" iconHide="minus" create="createFact"}}
</div>
<div class="element">
  <ul class="fact-list">

  {{#each model as |fact|}}
    {{single-fact fact=fact}}
  {{/each}}
  {{#if notShowingAll}}
    <button class="button" {{action "showMore"}}>Mehr laden</button>
  {{/if}}
  </ul>
</div>

 {{liquid-outlet}}

</div>
