{{!--<div class="wrapper">
  <div class="left-bar">
    <i class="icon exclamation"></i>
  </div>
  <div class="right-bar">
    <span class="title"> Moment mal eben! </span>
    <p class="message"> Bevor du die Seite weiter nutzt, möchten wir dich um eine Kleinigkeit bitten. </p>
    <p class="message"> Wenn du jetzt auf eine vernünftige Formatierung deiner Kommentare achtest, hat das zuständige Komitee später weniger Arbeit damit. </p>
    <p class="message"> Darüber hinaus sorgt es für ein einheitlicheres Bild auf der Seite.</p>
    <p class="message"> Danke für dein Verständnis.</p>
    <p class="handwritten"> das Website-Komitee </p>
  </div>
</div>--}}
