<div class="poll-container">
{{#poll-listing polls=model createPoll="createPoll" createOption="createOption" voteForOption="voteForOption" blur="blurBackground" query=query}}
{{#if notShowingAll}}
<div class="load-more-container">
  <div class="element">
    <button class="load-more button" {{action 'showMore'}}>Mehr laden</button>

  </div>
</div>

{{/if}}{{/poll-listing}}
 {{liquid-outlet}}
</div>
