<div class="poll-container">

{{simple-form placeholder="Thema" create="createPoll"}}
<h2>Umfragen</h2>
<ul>
{{#each model as |poll|}}
{{single-poll poll=poll vote="voteForOption" create="createOption"}}

{{/each}}
</ul>



{{outlet}}
</div>
