<div class="quotes card">
  <h2>Zitate</h2>
  {{quote-listing quotes=model blur="blurBackground"}}
</div>
<div class="createQuotes card">
  {{quote-form create="createQuote" 1stph="Wer?" 2ndph="Zitat"}}
</div>
{{outlet}}
