<div class="element">
  <h3>
    Infos die nur für Admins gedacht sind!
  </h3>

</div>
<div class="element">
  {{user-logins}}
</div>
<div class="element float-correction">
  {{comment-network}}
</div>
{{outlet}}
