<div class="users-container">

  <div class="users">
    <div class="element">
      {{user-listing users=model transition="transition" selected=selected}}
    </div>
  </div>
{{liquid-outlet}}
</div>
