<div class="second-header horizontal-scroll">
  <div class="navbar second-navbar">

{{#current-user-favorites class="favorites" favorites=sortedFavorties}} {{#link-to 'users.user' currentUserId}} Ich {{/link-to}} {{/current-user-favorites}}
  </div>
</div>
<div class="users-container">

  <div class="users">
    <div class="element">
      {{user-listing users=model.users transition="transition" selected=selected}}
    </div>
  </div>
{{liquid-outlet}}
</div>
